* {
    margin: 0; padding: 0; border: 0; box-sizing: border-box;
}
h1 {
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    /* text-size-adjust: 90; */
}
body {
    width: 100%;
    height: 100%;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 70%;
    background-attachment: fixed;
}
.container {
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.26);
}
.leftbox {  
    padding: 50px;
    height: 500px;
    width: 500px;
    margin-right: 10vw;
}
.rightbox {
    padding: 20px;
    border-radius: 10%;
    height: 500px;
    width: 500px;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    
}
.button {
    display: inline-block;
    border-radius: 25px;
    background-color: rgb(243, 130, 0);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    outline: none;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .button:hover {
      background-color: rgb(218, 116, 0);
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\21D2';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
.motto-white {
    font-size: 5em;
    color: white;
}
.motto-orange {
    font-size: 5em;
    color: rgb(243, 130, 0);
}
.registration-header {
    font-size: 2.5em;
    color: rgb(243, 130, 0);
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.registration-input-name {
    font-size: 1em;
    color: rgb(255, 158, 47);
    text-align: left;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 5px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    vertical-align: middle;
}
